@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    overflow-x: hidden;
}
:root{
    --bg-color : #5ddf9f;
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* Login Page Starts Here */


.login-container{
    width: 70%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    flex-wrap: wrap;
    background: white;
}
/* For adding box-shadow to the container */
.box-shadow{
    position: relative;
    height: 100%;
    width: 100%;
}
.sub-container{
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}
/* Instructions Container */


.instructions-container{
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.logo-container{
    display: flex;
    /* background: red; */;
    height: 20%;
    width: 90%;
    /* background: red; */
}
.logo-container img{    
    height: 144px;
    width: auto;
}
.instruction-content-container{
    height: 60%;
    width: 90%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction-footer-container{
    height: 10%;
    width: 90%;
    display: flex;
    /* background: yellow; */
}

.content{
    margin-left: 20px;
    font-size: 17px;
    margin-top: 10px;
}
ul{
    margin-left: 12px;
}

.bold{
    font-weight: 700;
}
/*  Login Page Form container -> sub container of login*/


.login-items-container{
    background: var(--bg-color);
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.login-heading-container{
    height: 48%;
    width: 65%;
    /* background: red; */
    display: flex;
    color: white;
    font-weight: bolder;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.login-heading{
    font-size: 2.6rem;
    font-weight: 600;
}


.form{
    display: flex;
    /* justify-content: center; */
    height: 78%;
    width: 65%;
    flex-direction: column;
    gap: 15px;
    /* background: yellow; */
}

.form input{
    /* padding: 30px; */
    height: 60px;
    padding-left: 50px;
    /* border: 2px solid #171717; */
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px ;
}

.cant-Remember{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cant-Remember a{
    font-size: 14px;
    text-decoration: underline;
    color: white;
}

/* Button container for login page */
.button-sec-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 20%;
}

.backToLogIn{
    background: transparent;
    border: none;
    text-align: right;
    font-size: 0.8rem;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    padding: 7px;
    transition: all 0.1s ease-in;
}

.continue{
    height: 61px;
    width: 160px;
    font-size: 1rem;
    background: white;
    border-radius: 10px;
    font-weight: 700;
    color: var(--bg-color);
    border: none;
    transition: all 0.1s ease-in;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.form label{
    position: relative;
    top: 37px;
    width: 30px;
    left: 10px;
    height: 6px;
}

.inputIcons{
    height: 30px;
    width: 30px;
}

.continue:hover{
    background: var(--bg-color);
    color: white;
    border: 2px solid white;
}


button , p{
    cursor: pointer;
}
input{
    cursor: text;
}





@media screen and (max-width:1100px) {
    .login-container{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .sub-container{        
        min-height: 549px;
        width: 500px;
        border-radius: 38px;
    }
    .form input{
        font-size: 0.7rem;
    }

}
