@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Basic CSS Properties  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all 0.1s ease;  
}

:root{
    --bg-color : #1c1c1c;
    --main-text-color : #fdf700;
    --text-color : #ffff;
}

/* Some Basic CSS Classes */

/* Ek dmmmm Main COntainer */
.Parent-container{
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
}


.container{
    width: 100vw;
    min-height: 100vh;
    background: var(--bg-color);
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    transition: all .1s ease;
}


.head-color{
    color: var(--main-text-color);
}

button{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

/* Additional Elements */
/* Delievery Boy Image */
.delieveryBoy{
    height: 120px;
    width: auto;
    position: relative;
    top: -110px;
    animation: animateBoy 15s linear 1s infinite;
}
@keyframes animateBoy {
    0%{
        transform: translateX(-40%);
    }
    10%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(450%) ;
    }
}
/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- NavBar ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */





/* Main Div container of Navbar */
.navbar{
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-color);
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
}

/* Common Class for Navbar childs i.e. ul for navbar */
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    gap: 40px;
    font-size: 1.1rem;
}

/* Class of Logo ul */
.logo-ul{
    width: 20%;
    /* background: red; */
}

/* Class of navbar items ul */
.nav-items-ul{
    width: 60%;
    /* background: green; */
    gap: 60px;
}

/* Class of navbar Order Now section ul */
.order-ul{
    width: 20%;
    /* background: yellow; */
}


/* Class for Icons */
.icon{
    height: 25px;
    width: 25px;
}

.nav-items-ul li a:hover{
    background: white;
    color: #1c1c1c;
}
/* Hover on icons */
.icon:hover{
    color: #fdf700;
}


/* Hamburger Menu Icon */
.hamburger{
    display: none;
}
/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Home Page ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */




/* Home Page container */
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

/* Common class for text sec and img sec */
.home-container-child{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    color:white;
}

/* Home Text Section div */
.home-text-sec{
    margin-left: 20px;
    width: 37%;
    /* background: red; */
    align-items: flex-start;
    gap: 9px;
}

/* Home Img Section div */
.home-img-sec{
    width: 35%;
    background: url('/bg1.jpg');
    border-radius: 100%;
    background-size: cover;
    /* background: blue; */
}

/* Main Heading of Home container */
.main-heading{
    font-size: 2.7rem;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* P text of Home Container */
.p-text{
    font-size: 1rem;
}

/* Container of Home Page Buttons */
.btn-container{
    position: relative;
    height: 90px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    /* background: blue; */
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
}

/* Common Button Class */
.btn{
    position: relative;
    height: 60%;
    border-radius: 50px;
    width: 151px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
}

/* order Now button */
.order-btn{
    background: var(--main-text-color);
    color: black;
    font-weight: 600;
    box-shadow: 2px 3px 7px var(--main-text-color);
    cursor: pointer;
}

/* Hover function on Order Now Button */
.order-btn:hover{
    box-shadow: none;
    transform: translateX(1px) translateY(2px);
}

/* See menu btn */
.see-menu-btn{
    border: 2px solid var(--main-text-color);
    cursor: pointer;
}

/* Hover function on See Menu Button */
.see-menu-btn:hover{
    transform: translateX(1px) translateY(2px);
}







/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Menu Page ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */


/* Main Menu container */
.menu-container{
    color : white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

/* Size of main Heading */
.head-size{
    font-size: 3rem;
}

/* Menu Card Container */
.menuCard-container{
    position: relative;
    width: 80%;
    min-height: 200px;
    /* background: red; */
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
/* Class of Menu Card*/
.menuCard{
    height: 170px;
    width: 150px;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    justify-content: center;
    transition: all .1s ease;
}


/* Hover on Menu card */
.menuCard:hover{
    transform: scale(1.2);
}

/* Menu Img */
.menu-img{
    position: relative;
    height: 90px;
    width: 90px;
    background: white;
    border-radius: 100%;
}
/* img in menu-imh container */
.menu-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

/* Text of Category Type */
.category-text{
    font-size: 1.2rem;
}









/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Item Section ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

/* Main container of items sec */
.item-container{
    position: relative;
    min-height: 80vh;
    width: 80vw;
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 50px;
    transition: all .1s ease;
    margin: 90px 0px;
}

/* Item card container in items jsx */
.item-card-container{
    position: relative;
    width: 100%;
    /* background: red; */
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;
}

/* DIv container of item card */
.ItemCard-div{
    position: relative;
    height: 400px;
    padding: 0px;
    width: 300px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 7px white;
    /* box-shadow: 3px 3px 7px var(--main-text-color); */
    transition: all .1s ease;
}

.ItemCard-div:hover{
    box-shadow: none;
    transform: translateX(2px) translateY(3px);
    transition: all .1s ease;
}

/* Image div of Item */
.item-img-div{
    position: relative;
    height: 50%;
    width: 100%;
    background: blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Title div of item */
.title{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
.title , .desc{
    color: black;
}
/* Description of item card div */
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 81%;
    margin-top: 9px;
}

/* Button containers of item */
.item-btn-container{
    width: 100%;
    position: relative;
    height: 15%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* background: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 11px 0px;
}

/* add to cart button */
.item-cart-btn{
    padding: 8px;
    background: var(--main-text-color);
    border-radius: 10px;
    color: black;
    box-shadow: 2px 2px 7px var(--bg-color);
    transition: all .1s ease;
}

.item-cart-btn:hover{
    box-shadow: none;
}

.price-btn{
    color: black;
    font-size: 1.6rem;
}

/* Show All Button */
.showAll{
    height: 50px;
    width: 100px;
    background: var(--main-text-color);
    border-radius: 20px;
    box-shadow: 2px 2px 7px var(--main-text-color);
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all .1s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.showAll:hover{
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
}



/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Previous Orders Section after small Screen ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */





/* Main div container of Previous Orders section */
.Previous-Orders-Container{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}




/* Div container of previous card main outer container */
.previous-card-container{
    /* background: red; */
    position: relative;
    min-height: 70vh;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}



/* Div container of previous card container */
.previous-item-div{
    position: relative;
    background: white;
    min-height: 400px;
    padding: 0px;
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}


/* Div for img in Item card */
.previous-item-img-div{
    position: relative;
    background: blue;
    height: 230px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* Container for date in Previous Orders section */
.date-container{
    text-align: right;
    padding: 10px;
    color: #281c1ce0;
}







/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Footer Section after small Screen ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */


/* main Footer div container */
.Footer-container{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: var(--bg-color);
    /* background: red; */
    color: white;
}
/*  Div container of footer */
.footer{
    padding: 0px 9px 0px 9px;
    width: 100vw;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-color);
    border: 2px solid var(--main-text-color);
    /* background: var(--main-text-color); */
    color: white;
    flex-wrap: wrap;
    text-align: center;
}


/* Footer text div children */
span.text{
    /* background: red; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    padding: 5px;
}
span a{
    /* color : var(--bg-color); */
    color: white;
    margin: 0px 5px;
}



/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- ADD TO CART POPUP ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.cart-container{
    min-height: 500px;
    width: 500px;
    background: orange;
    position: relative;
    display: flex;
    align-self: flex-start;
}


























































/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Nav Section after small Screen ----------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */







/* COntainer after Small Screen */
.afterSmallScreen{
    position: fixed;
    z-index: 3;
}

/* Small Screen Container's ul */
.afterSmallScreen-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #1c1c1c;
    flex-direction: column;
    text-align: left;
    font-size: 2rem;
    gap: 30px;
}


/* Ul list of smallScreenNav */
.afterSmallScreen-ul{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}
/* List of smallscreenNav Li */
.afterSmallScreen-nav li{
    padding: 10px;
    transition: all .1s ease;
    border-radius: 10px;
}
.afterSmallScreen-nav li a:hover{
    color: var(--main-text-color);
}













































/* Media Queries */
@media screen and (max-width:800px) {
    /* Display none to old navbar */
    .nav-items-ul{
        display: none;
    }

    /* Display flex to hamburger */
    .hamburger{
        display: flex;
    }

    .home-container{
        flex-direction: column;
        /* background: red; */
    }
    .home-text-sec{
        margin: 150px 0px;
        /* background: red; */
        width: 60%;
    }
    .order-ul{
        width: 50%;
        gap: 20px;
    }
    .home-img-sec{
        display: none;
    }
    .head-size{
        font-size: 2.5rem;
    }
}



@media screen and (max-width:415px) {
    span.text{
        flex-direction: column;
    }
    .head-size{
        font-size: 2.5rem;
    }
}